			    <div id="container"></div>
					<div class="comment">
						<link rel="stylesheet" href="default.css">
						<div class="gitment_id"><script src="gitment.js"></script></div>
					</div> 
			<script>
			var gitment = new Gitment({
			  id: '<%= page.date %>', // 可选。默认为 location.href  比如我本人的就删除了
			  owner: 'EAPIAC',              //比如我的叫anTtutu
			  repo: 'EAPIAC.github.io',                 //比如我的叫anTtutu.github.io
			  oauth: {
			    client_id: 'b1a8b57ecc0bfbd3c684',          //比如我的828***********
			    client_secret: '399da802f38c3043577795afbea49b6a62c083ed',  //比如我的49e************************
			  },
			})
			gitment.render('container')
			</script>
